[Unit]
Description=fpulse - LED pulsing application daemon

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/fpulse.path
ExecStart=/usr/bin/fpulse tlc5947 /etc/fpulse/fpulse.conf

[Install]
WantedBy=multi-user.target
